body, h1 {
  font-family: Helvetica;
}

#canvas {
  position: absolute;
}

#actions {
  position: relative;
  left: 275px;
  top: 320px;
}

#dashboard {
  display: inline;
}

#text-area {
  position: relative;
  left: 410px;
}

#slider-area {
  position: relative;
  left: 410px;
  border: 1px solid;
  padding: 5px;
  text-align: center;
  width: 220px;
}

#slider-area > div {
  display: inline;
}

#smaller {
  font-size: 12px;
}

#bigger {
  font-size: 30px;
}
